[submodule "frontend"]
	path = frontend
	url = https://github.com/NikolaiUnknown/TicTacToe-Node.git
[submodule "backend"]
	path = backend
	url = https://github.com/NikolaiUnknown/TicTacToe-Server.git
