[submodule "frontend"]
	path = frontend
	url = https://github.com/NikolaiUnknown/TicTacToe-Node.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/NikolaiUnknown/TicTacToe-Server.git
	branch = main
